* {
	box-sizing: border-box;
	width: 100%;
	/*border: solid red;*/
}

body{
	background-color: white;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	color: #888888;

}

.header {
	background: #707070;
	color: white;
	margin: 0;
	padding-top: 30px;
	width: 100vw;
	height: 38vh;
	text-align: center;
	clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 80px));
	font-size: 12px;
}


.header h3 {
	margin:0;
	padding: 20px 0 0 0;
	font-size: 15px;
	font-weight: normal;
}

.header h1 {
	font-size: 30px;
	margin: 0 0 30px 0;
	white-space: pre;
} 

.buttonRow {
	margin: -135px 0 0 0;
	text-align: center;
	position: relative;
	z-index: 1;
	
}

.buttonRow button {
	color: #888888;
	font-family: 'Raleway', sans-serif;
	padding: 10px 25px;
	margin: 10px 20px;
	border-radius: 5px;
	border: none;
	width: 170px;
	background-color: white;
	border: solid 1px #707070;
	
}

.column {
  
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
	width: 41%;
	padding: 70px 0 0 45px;
	margin: 20px 0 0 200px;
}

.right {
	margin: 98px 0 0 -80px;
	padding-left: 150px;
}

.column h1{
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 1px;
}

.column p {
	font-size: 12px;
	width: auto;
	line-height: 20px;
	justify-content: center;
}

.column input {
	margin: 5px 0 0 0;
	width: 60%;
	padding: 5px 0;
}

.Form {
	margin-bottom: 20px;
	font-size: 12px;
}

.genero input {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 5px 5px 0 0;
}

.genero {
  display: inline;
  position: relative;
  margin-bottom: 12px;
  margin-right: 40px;
  cursor: pointer;
}

.right button{
	width: 60%;
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 10px 25px;
	border-radius: 5px;
	border: none;
	border: solid 1px #707070;

}

h2 {
   width: 68%; 
   text-align: center; 
   border-bottom: 1px solid #888888; 
   line-height: 0.1em;
   margin: 100px auto 20px auto; 
   font-size: 15px;
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}

.grid-container {
  width: 73%; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container div {
  text-align: center;
  padding: 20px 0;  
}

.grid-container img {
	
	width: 200px;
	height: 180px;
	/*border: solid 1px #707070;*/
	text-align: center;
}

.grid-container h4 {
	font-weight: normal;
	text-align: left;
	padding-left: 25px;
}

.grid-container p {
	text-align: left;
	font-size: 12px;
	/*width: 200px;*/
	padding-left: 25px;
	padding-right: 20px;

}

.parcel {
	text-align: left;
	font-size: 12px;
	/*width: 200px;*/
	padding-left: 25px;
	padding-right: 20px;
}

.grid-container h3 {
	text-align: left;
	padding-left: 25px;
	margin: 0;
}

.grid-container button{
	width: 200px;
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 5px 0;
	/*margin: 10px 0;*/
	border-radius: 5px;
	border: solid 1px #707070;
	
}

.btn {
	width: 20%;
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 10px 0;
	margin: 30px 0;
	border-radius: 5px;
	border: solid 1px #707070;
	position: relative;
	left: 580px;

}

.share {
	
	font-size: 12px;
}



.name {
	float: left;
}

.email {
	float: right;
}


.share p{
	margin: 50px 0 0 0;
	text-align: center;
}
.share input {
	width: 60%;
	padding: 5px 0;
	outline: none;
}

.share button{
	width: 20%;
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 10px 0;
	margin: 50px 0 ;
	border-radius: 5px;
	border: solid 1px #707070;
	position: relative;
	left: 580px;
	outline: none;
	
}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
    margin: 0 auto;
    width: 73%;
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
    margin: 50px 0 0 200px;
    
    
}

.two-col .col2 {
    float: right;
    margin: 50px 0 0 -200px;
    
}

.two-col label {
    display: block;
    width: 50%;

}

footer {
	background: #707070;
	color: white;
	margin: 0;
	width: 100vw;
	text-align: center;
	clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
	font-size: 12px;
	white-space: pre;
}

footer p{
	margin: 70px auto;
	position: relative;
	top:70px;
}




/*Media queries for phone*/

@media (max-width: 600px) {

	.header {
		height: 52vh;
		text-align: left;
		clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 100px));
	}

	.header h1 {
		margin: 0 0 10px 20px;
		font-size: 35px;
	}


	.header h3 {
		margin-left: 20px;
		font-size: 20px;
	}

	.header p {
		margin-left: 20px;
		width: 85%;
	}

	.buttonRow {
	width: 100vw;
	margin-top: -150px;
	
}

	.buttonRow button {
	
	padding: 10px 25px;
	margin:  10px;
	font-size: 10px;
	width: 40vw;
	
	
}


	.row, .column {
		width: 100vw;
	}

  .left {
  	width: 90vw;
  	padding: 70px 0 5px 0;
  	margin: 0 20px;
  	
  }

  .left h1 {
  	font-size: 17px;
  	letter-spacing: -0.1px;

  }

  .right {
  	width: 85vw;
  	margin: 0 30px;
  	padding: 0;
  }

  .column input {
	
	width: 100%;
	
}
.genero input {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 5px 5px 0 0;
}

.genero {
  display: inline;
  position: relative;
  margin-bottom: 12px;
  margin-right: 40px;
  cursor: pointer;
}

.right button{
	width: 100%;
}

h2 {
   width: 100%;  
   font-size: 20px;
} 

.grid-container {
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4,1fr);
  grid-auto-rows: 0; 
  margin: 0 10px;
  padding: 10px;
  width: 90%;
  z-index: -1;
}

.grid-container div {
  
  padding: 0; 
  margin: 10px 0; 
  overflow-y: hidden;
 
  
}

.grid-container img {
	width: 150px;
	height: 120px;
	float: left;
}

.grid-container h4 {
	position: relative;
	bottom: 120px;
	left: 155px;
	font-size: 15px;
	width: 50vw;
}
.grid-container p {
	position: relative;
	bottom: 160px;
	left: 155px;
}

.parcel {
	position: relative;
	bottom: 170px;
	left: 145px;
	margin: 0;
	padding: 0;
}
.grid-container h3 {
	position: relative;
	bottom: 165px;
	left: 180px;
	padding: 0;
	font-size: 17px;
}

.grid-container button {
	position: relative;
	bottom: 140px;
	left: 38px;
	width: 38vw;
	padding: 5px;
}

.descricao {
	visibility: hidden;
}

.btn {
	width: 55%;
	position: relative;
	left: 90px;
	bottom: 160px;

}

.sharetitle {
	position: relative;
	bottom: 150px;
}

.share {
	margin-top: -150px;
}

.two-col {
	width: 100vw;
}

.share p{
	width: 100vw;
	/*margin-left: 20px;*/
}

.two-col .col1,
.two-col .col2 {
    width: 90vw;

}

.share input {
	width: 90vw;

	
}


.two-col .col1 {
   
    margin: 20px;   
}

.two-col .col2 {
   
   margin: 20px;
    
}

.share button{
	width: 60%;
	position: relative;
	left: 80px;
	bottom: 20px;
	outline: none;
	
}


}

